body{
	background-color: grey;
	font-family: Georgia;
}

#login{
	background-color: white;
	height: 200px;
	width: 300px;
	border-radius: 12px;
	border: solid darkred 2px;
	margin: 0 auto;
}
#register{
	background-color: white;
	height: 200px;
	width: 300px;
	border-radius: 12px;
	border: solid darkred 2px;
	margin: 0 auto;
}
#home{
	background-color: white;
	width: 800px;
	padding: 5px;
	margin: 20px auto;
	border-radius: 12px;
	border: solid darkred 2px;
	margin: 0 auto;
}
#post{
	background-color: white;
	width: 800px;
	padding: 5px;
	margin: 20px auto;
	border-radius: 12px;
	border: solid darkred 2px;
	margin: 0 auto;
}
#edit{
	background-color: white;
	height: 300px;
	width: 450px;
	border-radius: 12px;
	border: solid darkred 2px;
	margin: 0 auto;
}
#create{
	background-color: white;
	height: 300px;
	width: 450px;
	border-radius: 12px;
	border: solid darkred 2px;
	margin: 0 auto;
}

.Link{
	text-decoration: none;
	color: black;
}
.Link:visited{
	text-decoration: none;
	color: black;
}
a:hover{
	font-weight: bold;
}
#username{
	font-weight: bold;
}

h1{
	padding: 10px;
}

#header{
	border: solid black 2px;
	border-radius: 12px;
	padding: 20px;
	margin: 0px 0px 2px 0px;
	background-color: white;
	text-shadow: 2px 1px 4px #FF0000;
}
#header2{
	border: solid black 2px;
	border-radius: 12px;
	padding: 20px;
	margin: 0px 0px 2px 0px;
	background-color: white;
	text-shadow: 2px 1px 4px #0000FF;
}

input{
	margin: 5px;
}
label{
	padding: 10px;
}

footer{
	background-color: lightblue;
	width: 300px;
	z-index: -1;
	padding-top: 20px;
	position: relative;
	top: -18px;
	border-radius: 12px;
	border: solid blue 2px;
	margin: 0 auto;
}
em{
	padding-left: 30px;
}

div.posts{
	display: table-cell;
	background-color: lightblue;
	width: 500px;
	border-radius: 12px;
	margin: 5px;
	padding: 5px;
	border: solid blue 1px;
}
div.posts p{
	padding: 5px;
	font-family: arial;
}

div.post{
	background-color: lightblue;
	width: 500px;
	border-radius: 12px;
	margin: 50px 0px 10px 20px;
	padding: 5px;
	border: solid blue 1px;
}
div.post p{
	padding: 5px;
	font-family: arial;
}

div.comments{
	background-color: lightblue;
	width: 400px;
	border-radius: 12px;
	margin: 20px 0px 10px 65px;
	padding: 5px;
	border: solid blue 1px;
}
div.comments p{
	padding: 5px;
	font-family: arial;
}
.postedby{
	font-size: 15px;
	padding: 0px;
	margin: 0px;
}
.cuser{
	font-size: 18px;
	font-weight: bold;
}

.postOutline{
	display: inline-table;
	padding: 10px;
}
.button{
	text-decoration: none;
	border: solid black 2px;
	border-radius: 8px;
	padding: 5px;
	margin: 5px;
	float: left;
}
.buttonOutline{
	display: table-cell;
	background-color: lightblue;
	width: 150px;
	border-radius: 12px;
	border: solid blue 1px;
	padding: 10px;
}

#errors{
	background-color: white;
	margin: 0px;
	position: absolute;
	top: 0;
	left: 0;
}
#errors p{
	padding: 10px;
	margin: 0px;
	border: solid black 2px;
}

#usermenu{
	float: right;
	border: solid black 2px;
	padding: 5px;
	border-radius: 12px;
	margin: 0px 10px 20px 0px;
}

#menu{
	background-color: grey;
	border: solid black 2px;
	width: 90px;
	margin: 5px;
	padding: 5px;
	text-align: center;
	border-radius: 12px;
	float: left;
}
.menu{
	text-decoration: none;
	color: white;
}
.menu:visited {
	color: white;
}
.menu:hover {
	font-weight: normal;
	color: black;
}

a:visited {
	color: blue;
	text-decoration: underline;
}

.Line{
	background-color: grey;
	height: 0px;
	padding: 1px !important;
	margin: 0px;
	border-radius: 12px;
}